<mjml>
    <mj-head>
        <mj-preview>Popust velja na artikle po redni ceni in na popustu.</mj-preview>
        <mj-title>CCC</mj-title>
        <mj-attributes>
            <mj-all line-height="1" font-family="Arial"/>
        </mj-attributes>
        <mj-breakpoint width="600px"/>
        <mj-style inline="inline">
            
            .wrapper {
            border-top: 1px solid #e9e9e9;
            border-bottom: 1px solid #e9e9e9;
            border-right: 1px solid #e9e9e9;
            border-left: 1px solid #e9e9e9;
            }
            
            .show_on_mobile, .show_on_mobile-outlook {
            display:none;
            }
            
            .show_on_mobile table, .show_on_mobile-outlook table {
            mso-hide:all;
            }
            
            .mj-column-per-50 {
            max-width: 320px;
            }
            
            .wrapper-outlook {
            border-right: 1px solid #e9e9e9;
            }
            
            .rtl > table > tbody > tr > td {
            direction: rtl;
            }
            
            .ltr > table {
            direction: ltr;
            }
        
        </mj-style>
        <mj-style>
            
            .social-icon:hover > td > table {
            background-color: #ff5d14!important;
            }
            
            @media only screen and (max-width: 599px) {
            
            .wrapper {
            max-width: 320px!important;
            }
            
            .stopka-wrapper {
            max-width: 320px!important;
            }
            
            .show_on_desktop {
            display:none !important;
            }
            .show_on_mobile, .show_on_mobile-outlook {
            display:block!important;
            }
            .mj-column-per-33 > table, .mj-column-per-33 > table > tbody > tr > td > table {
            min-width: 100%
            }
            
            .mj-column-per-50 > table {min-width: 100%}
            
            .mj-column-per-100 > table {min-width: 100%}
            }
            
            @media only screen and (min-width: 600px) {
            
            .wrapper {
            max-width: 600px!important;
            }
            
            .stopka-wrapper {
            max-width: 600px!important;
            }
            }
        </mj-style>
    </mj-head>
    
    <mj-body background-color="#f7f7f7">
        <mj-wrapper css-class="stopka-wrapper" padding="0">
            <mj-section padding="0">
                <mj-column>
                    <mj-text font-size="11px" color="#5a5a5a" align="right" padding="10px 0">
                        <a href="##mail_online_text2##" style="font-family: Arial; font-size: 10px; color: #5a5a5a; text-decoration: none">Ak sa správa nezobrazuje správne, kliknite sem</a>
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
        
        <mj-wrapper css-class="wrapper" padding="0px">
            
            <!--            <mj-section padding="10px 20px" background-color="#fa551e">-->
            <!--                <mj-column>-->
            <!--                    <mj-text font-size="16px" line-height="20px" font-weight="700" color="#ffffff" padding="5px 0" text-transform="uppercase" align="center">-->
            <!--                        <a href="https://ccc.eu/pl/" style="text-decoration: none; color: #ffffff;">-->
            <!--                            KUPUJ ONLINE NA <span style="color: #ffffff; text-decoration: none">CCC&#46;EU</span>-->
            <!--                        </a>-->
            <!--                    </mj-text>-->
            <!--                </mj-column>-->
            <!--            </mj-section>-->
            <mj-section background-color="#ffffff" padding="10px 0">
                <mj-column width="30%" padding="10px" vertical-align="middle">
                    <mj-image href="https://ccc.eu/si/?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=Logo" alt="CCC" width="115px" src="ccc_logo.png" padding="0"></mj-image>
                </mj-column>
                <mj-column css-class="show_on_desktop" width="70%" padding="10px" vertical-align="middle">
                    <mj-navbar hamburger="false" text-transform="none">
                        <mj-navbar-link href="https://ccc.eu/si/zenske?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=damskie" color="#141414" font-size="14px" text-transform="none" line-height="140%" padding="10px 20px">Žene</mj-navbar-link>
                        <mj-navbar-link href="https://ccc.eu/si/moski?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=meskie" color="#141414" font-size="14px" text-transform="none" line-height="140%" padding="10px 20px">Muškarci</mj-navbar-link>
                        <mj-navbar-link href="https://ccc.eu/si/otroci?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=dzieciece" color="#141414" font-size="14px" text-transform="none" line-height="140%" padding="10px 20px">Djeca</mj-navbar-link>
                        <mj-navbar-link href="https://ccc.eu/pl/torby?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=torby
" color="#141414" font-size="14px" text-transform="none" line-height="140%" padding="10px 20px">Torbice</mj-navbar-link>
                    </mj-navbar>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#ffffff" padding="0">
                <mj-column>
                    <mj-image href="https://ccc.eu/si/za-clane-ccc-kluba?sort=price_asc&page=1&utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=KV" fluid-on-mobile="true" padding="0" src="ccc_kv.jpg"></mj-image>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#ffffff" padding="0">
                <mj-column>
                    <mj-text font-size="20px" line-height="140%" font-weight="700" color="#141414" padding="25px 20px" text-transform="uppercase" align="center">
                        Torbice
                    </mj-text>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#ffffff" padding="0 0 10px">
                <mj-column>
                    <mj-image href="https://ccc.eu/si/torbice/kovcki?sort=price_asc&page=1&utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=baner_walizki" alt="-30%" src="ccc_banner.jpg" padding="0"></mj-image>
                    <mj-button css-class="mobile-button" href="https://ccc.eu/si/torbice/kovcki?sort=price_asc&page=1&utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=baner_walizki" background-color="#ffffff" font-size="19px" line-height="25px" font-weight="400" align="center" padding="20px 10px" inner-padding="8px" color="#000000" width="190px" border="1px solid #000000" border-radius="10px">
                        Spletna rezervacija
                    </mj-button>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#ffffff" padding="0">
                <mj-column>
                    <mj-text font-size="20px" line-height="140%" font-weight="700" color="#141414" padding="25px 20px" text-transform="uppercase" align="center">
                        zenske torbice
                    </mj-text>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#ffffff" padding="0 0 10px">
                <mj-column>
                    <mj-image href="https://ccc.eu/si/torbice/zenske-torbice?sort=price_asc&page=1&utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=baner_torebki" alt="-30%" src="ccc_banner2.jpg" padding="0"></mj-image>
                    <mj-button css-class="mobile-button" href="https://ccc.eu/si/torbice/zenske-torbice?sort=price_asc&page=1&utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=baner_torebki" background-color="#ffffff" font-size="19px" line-height="25px" font-weight="400" align="center" padding="20px 10px" inner-padding="8px" color="#000000" width="190px" border="1px solid #000000" border-radius="10px">
                        Spletna rezervacija
                    </mj-button>
                </mj-column>
            </mj-section>
            
            <mj-section css-class="rtl" direction="rtl" background-color="#fc4000" padding="0">
                <mj-column css-class="ltr">
                    <mj-image href="https://ccc.eu/si/za-clane-ccc-kluba/kategorija:natikaci-sportni_cevlji-espadrile-sandal?filter%5B209336%5D%5B0%5D=6521&filter%5B209336%5D%5B1%5D=6578&filter%5B209336%5D%5B2%5D=10901&filter%5B209336%5D%5B3%5D=1296342&filter%5B209336%5D%5B4%5D=6521&filter%5B209336%5D%5B5%5D=6578&filter%5B209336%5D%5B6%5D=10901&filter%5B209336%5D%5B7%5D=1296342&sort=price_asc&page=1&utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=baner_promocja" alt="" src="ccc_kv2.jpg" fluid-on-mobile="true" padding="0"></mj-image>
                </mj-column>
                <mj-column css-class="ltr" padding="10px 20px">
                    <mj-text font-size="75px" line-height="80px" font-weight="700" color="#ffffff" padding="15px 10px" text-transform="uppercase" align="center">
                        <a href="https://ccc.eu/si/za-clane-ccc-kluba/kategorija:natikaci-sportni_cevlji-espadrile-sandal?filter%5B209336%5D%5B0%5D=6521&filter%5B209336%5D%5B1%5D=6578&filter%5B209336%5D%5B2%5D=10901&filter%5B209336%5D%5B3%5D=1296342&filter%5B209336%5D%5B4%5D=6521&filter%5B209336%5D%5B5%5D=6578&filter%5B209336%5D%5B6%5D=10901&filter%5B209336%5D%5B7%5D=1296342&sort=price_asc&page=1&utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=cta_promocja" style="text-decoration: none; color: #ffffff">
                            -30%*
                        </a>
                    </mj-text>
                    <mj-text font-size="18px" line-height="24px" font-weight="700" color="#ffffff" padding="0 0 30px" align="center" text-transform="uppercase">
                        <a href="https://ccc.eu/si/za-clane-ccc-kluba/kategorija:natikaci-sportni_cevlji-espadrile-sandal?filter%5B209336%5D%5B0%5D=6521&filter%5B209336%5D%5B1%5D=6578&filter%5B209336%5D%5B2%5D=10901&filter%5B209336%5D%5B3%5D=1296342&filter%5B209336%5D%5B4%5D=6521&filter%5B209336%5D%5B5%5D=6578&filter%5B209336%5D%5B6%5D=10901&filter%5B209336%5D%5B7%5D=1296342&sort=price_asc&page=1&utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=cta_promocja" style="text-decoration: none; color: #ffffff">
                            Na japonke, sandale <br>
                            in espadrile.
                        </a>
                    </mj-text>
                    <mj-button href="https://ccc.eu/si/za-clane-ccc-kluba/kategorija:natikaci-sportni_cevlji-espadrile-sandal?filter%5B209336%5D%5B0%5D=6521&filter%5B209336%5D%5B1%5D=6578&filter%5B209336%5D%5B2%5D=10901&filter%5B209336%5D%5B3%5D=1296342&filter%5B209336%5D%5B4%5D=6521&filter%5B209336%5D%5B5%5D=6578&filter%5B209336%5D%5B6%5D=10901&filter%5B209336%5D%5B7%5D=1296342&sort=price_asc&page=1&utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=cta_promocja" background-color="#fc4000" font-size="19px" line-height="25px" font-weight="400" padding="0 20px 25px" inner-padding="8px" color="#ffffff" width="190px" border="1px solid #ffffff" border-radius="10px">
                        PREVERI
                    </mj-button>
                    <mj-text font-size="14px" line-height="18px" font-weight="400" color="#ffffff" padding="0 20px 10px" align="center">
                        <a href="https://ccc.eu/si/za-clane-ccc-kluba/kategorija:natikaci-sportni_cevlji-espadrile-sandal?filter%5B209336%5D%5B0%5D=6521&filter%5B209336%5D%5B1%5D=6578&filter%5B209336%5D%5B2%5D=10901&filter%5B209336%5D%5B3%5D=1296342&filter%5B209336%5D%5B4%5D=6521&filter%5B209336%5D%5B5%5D=6578&filter%5B209336%5D%5B6%5D=10901&filter%5B209336%5D%5B7%5D=1296342&sort=price_asc&page=1&utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=cta_promocja" style="text-decoration: none; color: #ffffff">
                            *Popust velja na artikle <br>
                            po redni ceni in na popustu
                        </a>
                    </mj-text>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#ffffff" padding="0">
                <mj-column>
                    <mj-image href="" alt="KLUB CCC" src="ccc_karta-banner.jpg" padding="0"></mj-image>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#ffffff" padding="0 10px 25px">
                <mj-column padding="0 0 10px">
                    <mj-image href="https://ccc.eu/si/ccc-klub?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=usp_1" src="ccc_i1.png" width="55px" padding="20px 0"></mj-image>
                    <mj-text font-size="12px" line-height="140%" font-weight="700" color="#141414" padding="0 5px" align="center">
                        <a href="https://ccc.eu/si/ccc-klub?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=usp_1" style="text-decoration: none; color: #141414">
                            30 dni za vračilo <br>
                            in menjavo blaga
                        </a>
                    </mj-text>
                </mj-column>
                <mj-column padding="0 0 10px">
                    <mj-image href="https://ccc.eu/si/ccc-klub?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=usp_2" src="ccc_i2.png" width="55px" padding="20px 0"></mj-image>
                    <mj-text font-size="12px" line-height="140%" font-weight="700" color="#141414" padding="0 5px" align="center">
                        <a href="https://ccc.eu/si/ccc-klub?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=usp_2" style="text-decoration: none; color: #141414">
                            Vračilo ali menjava <br>
                            brez računa
                        </a>
                    </mj-text>
                </mj-column>
                <mj-column padding="0 0 10px">
                    <mj-image href="https://ccc.eu/si/ccc-klub?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=usp_3" src="ccc_i3.png" width="55px" padding="20px 0"></mj-image>
                    <mj-text font-size="12px" line-height="140%" font-weight="700" color="#141414" padding="0 5px" align="center">
                        <a href="https://ccc.eu/si/ccc-klub?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=usp_3" style="text-decoration: none; color: #141414">
                            Informacije o novih <br>
                            artiklih in akcijah
                        </a>
                    </mj-text>
                </mj-column>
            </mj-section>
            
            <mj-section css-class="show_on_mobile" background-color="#ffffff" padding="10px 0 " border-top="1px solid #ebebeb">
                <mj-column vertical-align="middle">
                    <mj-button href="https://ccc.eu/si/zenske?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=damskie" background-color="#ffffff" width="230px" font-size="14px" line-height="20px" font-weight="700" padding="10px" inner-padding="8px"  color="#000000" border="2px solid #000000" border-radius="10px">
                        Žene
                    </mj-button>
                    <mj-button href="https://ccc.eu/si/moski?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=meskie" background-color="#ffffff" width="230px" font-size="14px" line-height="20px" font-weight="700" padding="10px" inner-padding="8px"  color="#000000" border="2px solid #000000" border-radius="10px">
                        Muškarci
                    </mj-button>
                    <mj-button href="https://ccc.eu/si/otroci?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=dzieciece" background-color="#ffffff" width="230px" font-size="14px" line-height="20px" font-weight="700" padding="10px" inner-padding="8px"  color="#000000" border="2px solid #000000" border-radius="10px">
                        Djeca
                    </mj-button>
                    <mj-button href="https://ccc.eu/pl/torby?utm_medium=mailing&utm_source=KlubCCC&utm_campaign=08_01_19_handbags_bags_suitcases_si&utm_content=torby
" background-color="#ffffff" width="230px" font-size="14px" line-height="20px" font-weight="700" padding="10px" inner-padding="8px"  color="#000000" border="2px solid #000000" border-radius="10px">
                        Torbice
                    </mj-button>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#ffffff" padding="0px" border-top="1px solid #ebebeb">
                <mj-column vertical-align="top" padding="30px 0px 20px">
                    <mj-social align="center" font-size="16px" icon-size="60px" icon-height="60px" mode="horizontal" padding="0px" border-radius="0" inner-padding="10px">
                        <mj-social-element css-class="social-icon" alt="Facebook" background-color="#ebebeb" src="ccc_soc_fb.png" href="https://www.facebook.com/CCC.Slovenia/" padding="5px 15px">
                        </mj-social-element>
                        <mj-social-element css-class="social-icon" alt="Instagram" background-color="#ebebeb" src="ccc_soc_in.png" href="https://www.instagram.com/cccshoesbags.si/" padding="5px 15px">
                        </mj-social-element>
                        <mj-social-element css-class="social-icon" alt="Youtube" background-color="#ebebeb" src="ccc_soc_yt.png" href="https://www.youtube.com/channel/UCVscWDmL_2JddDdGuku7f2w" padding="5px 15px">
                        </mj-social-element>
                    </mj-social>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#ffffff" padding="0 30px">
                <mj-column>
                    <mj-text font-size="11px" line-height="160%" color="#5a5a5a" font-weight="300" padding="10px 20px 40px" align="center">
                        Ta newsletter ste dobili, ker ste se strinjali, da vam pošiljamo obvestila za člane CCC Kluba.
                        Če ne želite prejemati naš newsletter, <a href="##Link_Rezygnacji2##" style="color:#1c1c1c; text-transform: uppercase;">KLIKNITE TUKAJ</a>.
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
        
        <mj-wrapper css-class="stopka-wrapper" padding="48px 0 0">
            <mj-section padding="0">
                <mj-column>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    
    </mj-body>
</mjml>

